<div class="container">
<br>
<hr>

<h3>hot properties!</h3>
<% @property.each do |p| %>
  <p>Place: <a href="/property/<%= p.id %>"><%= p.property_name %></a></p>
  <p>Description: <%= p.description %></p>
  <p>Price: <%= p.price %></p>
  <p>Created by: <%= p.user.fullname %></p>
  Tags:<% p.tags.each do |t| %>
    <p> <a href="/tag/<%= t.tag %>"><%= t.tag %></a></p>
    <%end%>

  <p>---------</p>

 <% end %>


</div>

