<div class="container">
<br>
<h3>Hot Properties!</h3>
<hr>
<% if @error != "" %>
      <p><%= @error %></p>
    <% end %>

<% @property.each do |p| %>
  <p>Place: <a href="/property/<%= p.id %>"><%= p.property_name %></a></p>
  <p>Description: <%= p.description %></p>
  <p>Price: <%= p.price %></p>
  <p>Created by: <%= p.user.fullname %></p>
  Tags:<% p.tags.each do |t| %>
    <a href="/tag/<%= t.tag %>"><%= t.tag %></a>
    <%end%>
<hr>

 <% end %>


</div>

