<div class="container">
  <h1>Simple Airbnb</h1>



<a href="/login"><button>Login</button></a>
<a href="/signup"><button>Sign up</button></a>
<hr>

<h3>hot properties!</h3>
<% @property.each do |p| %>
  <p>Place: <a href="/property/<%= p.id %>"><%= p.property_name %></a></p>
  <p>Description: <%= p.description %></p>
  <p>Price: <%= p.price %></p>
  <p>Created by: <%= p.user.fullname %></p>
  <% p.tags.each do |t| %>
    <p>Tags: <a href="/tag"><%= t.tag %></a></p>
    <%end%>

  <p>---------</p>

 <% end %>


</div>

