<div class="container">

     <form >
        <h3><%= @property.property_name %></h3>
        <p>Description: <%= @property.description %></p>
        <p>Price: $<%= @property.price%></p>
        <p>Contact Person: <%= @property.user.fullname%></p>
        <p>Email: <%= @property.user.email%></p>
        Tags: <% @property.tags.each do |t|%>
        <%= t.tag %>
        <% end %>
      </form>
      <br>

       <a href="/property/<%= @property.id %>/edit" ><button>Edit</button></a>
       <a href="/property/<%= @property.id %>/delete" ><button>Delete</button></a>
       <a href="/property/<%= @property.id %>/book" style="text-decoration: none"><button onclick="myFunction()">book this place!</button></a>
</div>

<script>
function myFunction() {
    alert("booking not yet worked out!");
}
</script>