<div class="container">

  <h3><%= @property.property_name %></h3>
  <p>Description: <%= @property.description %></p>
  <p>Price: $<%= @property.price%></p>
  <p>Contact Person: <%= @property.user.fullname%></p>
  <p>Email: <%= @property.user.email%></p>
  Tags: <% @property.tags.each do |t|%>
  <a href="/tag/<%= t.tag %>"><%= t.tag %></a>
  <% end %>

  <br>
  <% if session[:logged_in_user] == @property.user.id %>
    <p><a href="/property/<%= @property.id %>/edit" ><button>Edit</button></a>
    <a href='/property/<%= @property.id %>/delete'><button>Delete</button></a>
  <% else  %>
     <p><a href="/property/<%= @property.id %>" style="text-decoration: none"><button onclick="myFunction()">book this place!</button></a>
  <% end %>

    <script>
    function myFunction() {
        alert("booking not yet worked out!");
    }
    </script>
</div>



